@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Navbar {
	position: fixed;
	width: 100%;
	background-color: rgb(133, 184, 228);
	z-index: 2;
}

.Navbar-footer {
	background-color: rgb(133, 184, 228);
	width: 100vw;
	z-index: 2;
	height: 5rem;
}

.Navbar-link:hover {
	cursor: pointer;
}

.Navbar-location {
	position: fixed;
	top: 5;
	left: 50%;
	transform: translateX(-50%);
}
