@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Sales {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.Sales-modal {
	background-color: white;
	width: 50%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Sales-modal-topText {
	padding-top: 2rem;
}

.Sales-modal-form {
	margin: auto;
}
.Sales-page-title {
	font-family: "Montserrat", sans-serif;
}
