@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Suppliers {
	padding: 5rem;
}

table {
	margin: auto;
	border-collapse: collapse;
	width: 75%;
}

.Supplier-modal {
	background-color: white;
	width: 50%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	text-align: center;
}

.Supplier-delete {
	color: rgb(218, 40, 40);
}

.Supplier-delete:hover {
	cursor: pointer;
}

.Supplier-card {
	width: 50%;
	margin: auto;
	margin-top: 1rem;
	padding: 1rem;
}

.Supplier-card:hover {
	cursor: pointer;
	background-color: cornsilk;
}

.Supplier-card-text {
	font-family: "Montserrat", sans-serif;
}

.Supplier-card-title {
	font-family: "Montserrat", sans-serif;
	font-size: 1.25rem;
	font-weight: 600;
}

.Supplier-name {
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	font-weight: 600;
	margin: 2rem 0 2rem 0;
}

.Supplier-detail {
	font-family: "Montserrat", sans-serif;
	margin-bottom: 1rem;
}

table {
	font-family: "Montserrat", sans-serif;
}
