.Suppliers {
	padding-top: 5rem;
}

table {
	margin: auto;
	border-collapse: collapse;
	width: 75%;
}

.Supplier-modal {
	background-color: white;
	width: 50%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	text-align: center;
}

.Supplier-delete {
	color: rgb(218, 40, 40);
}

.Supplier-delete:hover {
	cursor: pointer;
}
